@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background: yellow;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #4b5563 #18181b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: #0A0908;
}

*::-webkit-scrollbar-thumb {
	background-color: #4b5563;
	border-radius: 15px;
	border: 4px solid #0A0908;
}

:root {
	--foreground-color: #efdcdd;
	--background-color: #0A0908;
}

.carousel-wrapper {
	border-radius: 20px;
	overflow: hidden;
}

body {
	color: var(--foreground-color);
	background: var(--background-color);
}
