@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 249, 249, 251;
  --background-start-rgb: 10, 9, 8;
  --background-end-rgb: 10, 9, 8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
